<div class="container">
  <div class="col-xs-12 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1">
    <div class="header clearfix">
      <h1 class="website-title" routerLink="/">Matas Ubarevicius - programming rocks</h1>
      <!--<nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">About</a></li>
          <li role="presentation"><a href="#">Contact</a></li>
        </ul>
      </nav>-->
    </div>

    <router-outlet></router-outlet>

  </div>
  <footer class="footer">
    <div class="footer-content col-xs-12 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1">
      <p>© 2017 - Matas Ubarevicius.</p>
      <a class="footer-link" href="https://twitter.com/ubarevicius" target="_blank" title="Twitter ubarevicius">@ubarevicius</a>
      <a class="footer-link" href="http://fucture.org" target="_blank" title="Fucture">@fucture</a>
      <a class="footer-link" href="http://qdelft.nl" target="_blank" title="QDelft">@qdelft</a>
      <a class="footer-link" href="http://studiorap.nl" target="_blank" title="Studio RAP">@studiorap</a>
      <a class="footer-link" href="http://studiorap.nl" target="_blank" title="RAP Technologies">@raptechnologies</a>
    </div>
  </footer>
</div>