<app-blog-post title="ARC 16, Studio RAP and Technological Innovation" subtitle="" [isSummary]="isSummary">
  <div class="summary" *ngIf="isSummary">
    <p>Every company is a tech company. Although seemingly corny, this idea surfaced continuously in popular media throughout
      2016. TechCrunch even went further to say that all companies are learning to be tech businesses today. The field of
      architecture is no exception. Technological innovation continuously opens new forms of artistic and functional expression.</p>
  </div>
  <div class="body" *ngIf="!isSummary">
    <p>
      Every company is a tech company. Although seemingly corny, this idea surfaced continuously in popular media throughout 2016.
      TechCrunch even went further to say that all companies are learning to be tech businesses today. The field of architecture
      is no exception. Technological innovation continuously opens new forms of artistic and functional expression.
    </p>
    <p>
      Studio RAP (Robotics, Architecture, Production) recently received the ARC 16 award for innovation in architecture. I’m glad
      to have an opportunity to be a part of the trip that this young start-up is taking. In this article, I’ll try to shed
      some light on what it means to innovate the business of architecture today and how this architectural office is growing
      to become a tech company.
    </p>

    <figure>
      <img src="/assets/blog-images/arc-innovation-award-tech-innovation/Skilledin office.jpg" alt="Skilledin office" width="100%">
      <figcaption>Skilledin office</figcaption>
    </figure>

    <figure>
      <img src="/assets/blog-images/arc-innovation-award-tech-innovation/Skilledin office interior.jpg" alt="Skilledin office interior"
        width="100%">
      <figcaption>Skilledin office interior</figcaption>
    </figure>

    <p>
      So, why do architects collaborate with programmers? What does programming have to do with architecture? Why is it so fun
      to code geometry? How all these things lead to innovation?
    </p>

    <p>
      It’s no secret that computers changed the way in which architects’ design buildings. In the last decades drawing boards were
      replaced by rows of monitors, Oculus Rift’s and HoloLenses, but the underlying economic process remained almost intact.
      During the last centuries, though, a bigger transition was happening and architects went from being master builders
      to draftsmen, having extensive knowledge of catalogues containing prefabricated building components from various manufacturers.
      Even though assembling such “Lego” parts requires creativity and ingenuity, freedom of designer to go around standards
      deteriorated or to put it differently - grew to be very expensive. Imagining new ways of building became very difficult.
      Rules were set and everyone became accustomed to the separation of designing and building. Architects were making drawings,
      engineers were solving the math and fabrication was left to companies that own heavy machinery. Increased segregation
      made collaboration very difficult. Pressured by limited budgets and time, engineers were involved only at the end of
      design process to make sure that buildings will stand. Architects lost understanding on how machines work and what
      are the real possibilities of manufacturing. Producers became too big to listen to requirements of relatively small
      architectural or engineering offices and went further to use old methods of manufacturing as it involved smaller risks.
      Companies specialized and communication failed. The central economic position and craftsmanship of the master builder
      was lost in multiple translations and communication problems. Standardization delivered efficiency in the short term
      but led to detachment between design, manufacturing and engineering in the long run, negatively affecting the pace
      of innovation in the entire building industry.
    </p>

    <figure>
      <img src="/assets/blog-images/arc-innovation-award-tech-innovation/Innovation of presentation, not the industry.png" alt="Innovation of presentation, not the industry"
        width="100%">
      <figcaption>Innovation of the presentation, not the industry</figcaption>
    </figure>

    <p>
      Ecological, functional and performance demands of the present are pushing new businesses in the building industry to rethink
      their position in the economy and to get out of the previously described loophole. The automotive industry suggests
      an alternative way. Even though stagnating with its combustion engines, the communication lines between design and
      manufacturing teams were kept short. In car producing companies, bottom up iterative design processes were developed.
      They were based on close collaboration between all those involved. Manufacturing was pushed to use automation in new
      and innovative ways. And although industry was using machines to make millions of “standard” cars, they succeeded in
      developing general purpose reprogrammable robotic arms which, by design and on demand, could do different tasks continuously.
      To architects, such general-purpose machinery opens up huge possibilities.
    </p>

    <p>
      Studio RAP is one of the first offices to implement the automotive’s model of integrated design and fabrication in an architectural
      company. The goal is to take back control by resurrecting idea of the master builder. Positioning a new generation
      of computational architects, programmers and engineers together with robots at the epicentre of the building process
      could remove those failing communication protocols described previously. It means though, that such a start-up needs
      to do everything itself - design, engineer and manufacture. This, of course, is no simple task…
    </p>

    <figure>
      <img src="/assets/blog-images/arc-innovation-award-tech-innovation/Aggregate assembler.jpg" alt="Aggregate assembler" width="50%">
      <figcaption>Aggregate assembler</figcaption>
    </figure>

    <p>
      In order to achieve all this, one has to understand the computational nature of geometry, physical properties of materials,
      intricacies, possibilities and limitations of manufacturing machines and more. CAD (Computer Aided Design) software,
      used by almost all architectural offices nowadays allows designers to make virtual geometries, but these programs,
      designed through expert system methodologies are quite limiting. Developed 3D models are mostly used to produce visualizations
      of virtual environments for clients and to derive architectural drawings for builders. But computers are able to do
      much more than that. New generation of CAD software opens up its API’s (Application Programming Interfaces) to more
      advanced use cases. Algorithmic thinking becomes crucial there. These entry points liberate users from the restrictions
      of enclosed interface possibilities and allow new kinds of creative parametric scenarios that can integrate materiality
      and production process into one synchronized design environment.
    </p>

    <figure>
      <img src="/assets/blog-images/arc-innovation-award-tech-innovation/Back to the core.png" alt="Back to the core" width="100%">
      <figcaption>Back to the core</figcaption>
    </figure>

    <p>
      Furthermore, manufacturing machines are driven by programs. Robots do not understand designer’s intent, section blueprints
      or even CAD geometry until someone feeds them code, which represents movement instructions. The mentioned API’s become
      crucial when one wants to do non-standard things with their software packages and open communication streams from CAD
      software to robot controllers. Through programming Studio RAP is able to translate the design intent to the language
      that the machines can understand. From the beginning of design, computational architects and programmers are aware
      of the processes that will be involved in manufacturing and assembly of building components. The team prepares projects
      in a way so that computed geometries can be directly processed into robot movement instructions. This requires close
      and immediate collaboration between many specialists. And programmers are very welcome in this picture. Such work involves
      deep understanding of procedural solvers that take structures of geometry as an input and compute various optimized
      paths for machines to cut. This work is fun and emotionally rewarding as code is being outputted in a form of produced
      geometry or a building. Bugs also acquire a very different meaning here. But let’s leave this theme for some other
      time.
    </p>

    <figure>
      <img src="/assets/blog-images/arc-innovation-award-tech-innovation/Assembling Skilledin Office.jpg" alt="Assembling Skilledin Office"
        width="100%">
      <figcaption>Assembling Skilledin Office</figcaption>
    </figure>

    <p>The ARC16 Innovation Award was awarded to Studio RAP for their Skilledin office in the RDM Innovation Dock in Rotterdam.
      This parametrically designed object embodies ideas I talked about in this article. The jury found the direction appealing
      and I couldn’t agree more. Studio RAP took a big risk in making something so complex and by realizing it within the
      budget constraints of the client as their first project. The team used refurbished second hand robots and experimented
      a lot to design all those unique panels that fit together perfectly in forming an optimized vault structure. The journey
      did not end there of course. The studio is developing software that drives industrial robots. It recently released
      the first version of RAPCAM (Computer Aided Manufacturing) software that helps other designers to get started using
      robots more easily. Through software, the studio transforms the research into more abstract and reusable workflows
      and general algorithms. You can find more information on http://rapcam.eu. Studio RAP currently experiments with many
      different techniques of manufacturing. This will allow the office to create even more amazing projects. Being probably
      the first architectural office having programmers in the team, Studio RAP is moving fast to become a tech company.
      I am very happy to witness such a transition and to have the opportunity to collaborate with this young start-up. I
      hope that bringing professional knowledge of software development to the field of architecture will give a positive
      effect to our built environment.
    </p>
    
    <p>To conclude, I hope I managed to explain what it means to innovate in architectural sector nowadays. If you want to learn
      more about this, you can find me on twitter as
      <span><a href="https://twitter.com/ubarevicius" target="_blank" title="Twitter Matas_U">@ubarevicius</a></span>. Also, check
      out the videos afterwards to get more insight on what we do and visit http://studiorap.nl or follow Studio RAP on <span><a href="https://www.facebook.com/studiorapnl" target="_blank" title="Studio RAP NL">Facebook</a></span>      or
      <span><a href="https://www.instagram.com/studio.rap/" target="_blank" title="Studio RAP">Instagram</a></span> for updates!
    </p>

    <iframe width="100%" height="350" src="https://www.youtube.com/embed/jN96XHXC1AA" frameborder="0" allowfullscreen></iframe>
    <iframe width="100%" height="350" src="https://www.youtube.com/embed/RM7xvrm2Gc4" frameborder="0" allowfullscreen></iframe>

  </div>
</app-blog-post>