<div class="jumbotron">
  <img src="/assets/cover.png" width="100%" />
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <div routerLink="angular-meets-electron">
      <app-angular-meets-electron [isSummary]="true"></app-angular-meets-electron>
    </div>
    <div routerLink="async-grasshopper-components">
      <app-async-grasshopper-components [isSummary]="true"></app-async-grasshopper-components>
    </div>
  </div>
  <div class="col-lg-6">
    <div routerLink="arc-innovation-award-tech-innovation">
      <app-arc-innovation-award-tech-innovation [isSummary]="true"></app-arc-innovation-award-tech-innovation>
    </div>
  </div>
</div>